#main-menu.navbar .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#main-menu.navbar {
    font-size: 14px;
    background-color: rgba(51, 51, 51, 1);
    border-bottom-width: 1px;
    font-weight: 800;
}
#main-menu.navbar .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(51, 51, 51, 1);
}
#main-menu.navbar .navbar-nav>li>a:hover,
#main-menu.navbar .navbar-nav>li>a:focus {
    color: white;
}
#main-menu.navbar .navbar-nav>.active>a,
#main-menu.navbar.navbar-nav>.active>a:hover,
#main-menu.navbar .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}
#main-menu.navbar .navbar-toggle {
    border-color: #000000;
}
#main-menu.navbar .navbar-toggle:hover,
#main-menu.navbar .navbar-toggle:focus {
    background-color: #000000;
}
#main-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
#main-menu.navbar-default .navbar-toggle:hover .icon-bar,
#main-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #333333;
}

.navbar {
    min-height: 32px !important;
    border: none;
    height:42px !important;
}

.navbar-nav > li > a {
     padding-top: 11px !important; 
     padding-bottom: 11px !important; 
}

.jumbotron {
    text-align: center;
}

* {
    font-family: 'Open Sans', 'Segoe UI', 'Lucida Sans';
}
.navbar-brand {
    padding: 5px 10px !important; 
}
.site-index{
   margin: 100px auto;
}

.dropdown-list{
    width: 100px;  
}

.hidden{
    display:none;
}


